trigger:
- main

pool:
  vmImage: ubuntu-latest

stages:
- stage: Train
  jobs:
  - job: TrainModel
    steps:
    - task: UsePythonVersion@0
      inputs:
        versionSpec: '3.10'

    - script: |
        pip install -r requirements.txt
        python train.py
      displayName: "Train Model and Save model.pkl"

    - publish: $(System.DefaultWorkingDirectory)/model.pkl
      artifact: model_artifact
      displayName: "Publish model.pkl artifact"

- stage: Evaluate
  dependsOn: Train
  jobs:
  - job: EvaluateModel
    steps:
    - task: UsePythonVersion@0
      inputs:
        versionSpec: '3.10'

    - download: current
      artifact: model_artifact

    - script: |
        pip install -r requirements.txt
        python evaluate.py
      displayName: "Evaluate Model"
